<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="">Pizza Store</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
    </li>
  </ul>
</nav>
